@charset "utf-8";
/* CSS Document */



#main{
	
	position:relative;
	background:#5B21E9;
	padding:20px;
	width:100%;
	height:80vh;
	
}

#left{
	float:left;
	width:75%;
	height:100%;
	background:rgba(6,5,5,1.00);
}


#right{
	float:right;
	width:25%;
	height:100%;
	background:rgba(208,33,36,1.00);
	
}